<div class="jumbotron">
  <h1>Handcrafted CoolStuff</h1>
  <p>Hand Made great crafts!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<h1>Listing Listings</h1>
  <div class=" center row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
          <div class="thumbnail">
            <%= link_to image_tag(listing.image.url), listing%>
            <div class="caption">
              <h3><%= listing.name %></h3>
              <p><%= number_to_currency(listing.price) %></p><br/>
              <p>Sold By: <%= listing.user.name %></p><br/>
              <p><%= listing.description %></p><br/>
            </div>
          </div>
        </div>
      <% end %>
  </div>
<br>
<% if(user_signed_in?) %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary btn-lg" %>
<% end %>
